
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}


a {
  text-decoration: none;
  color: inherit;
}


button {
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
}


img,
picture {
  max-width: 100%;
  display: block;
}


input,
textarea,
select {
  font: inherit;
}


html {
  scroll-behavior: smooth;
}


body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
}