@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @mixin respond($size) {
    @if $size == sm {
      @media (min-width: $sm) { @content; }
    }
    @if $size == md {
      @media (min-width: $md) { @content; }
    }
    @if $size == lg {
      @media (min-width: $lg) { @content; }
    }
  }